@font-face {font-family: "iconfont";
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABsgAAAKGAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBIIEeATYCJAMMCwgABCAFhG0HSBv2BRHVk0dkPw7KjWeac+bVK8vmk/xR3Hfw/Lv2eV+SmQVGRQoRFHIBXR2QkNvjW6FIArlW/wDYnGuk6l64CDWSs08e7TCFUXZZ+mTAMdMl0EDygOaU0RgJOMGBRgWN7J/ohfiHsQtcwnkI4Eok6UhpeW0rzhisaQLI7NTEEM45PwbDUs4Ids1ag9xg4axO1QfgOvx9+U2GOIPC0lhzG8fLRin8lvPtqHccO70+gQAIcLMFaCAdMCD9tfFONMJoGle5ac+1MQhqrpDDEfJ1qW3/wwOFgNhYxe4AJKOEgm85Lj9VlEDhXRdrAOy4IBnIxlL6h3cLKsBHrewGyjgPz57vBIyN3t95cR7ExKOF8Ye7QeSe8xc7/qNjD3aen43L7bbHhhQMyNNwn7CN9Gp7/maoT/hTKRjcYDKgvOJr4lcv83FobOhpbg6UnkYFcRMwiPVn1HstAOqZ+ieAwNXSq5cDXrn/nd0MAJ9CYh6FekP/hDMKmOCvCXp2GV1kGbRR+S7fdGoCRloVQC534bDcvnwdrw64s6TgTEAKhRMR0DgTTzTUdFi4kQUbZwrgShoVm93wYxmNGBcglUMAwZt3UHhyC403H4mG+gUWgfyFjbdouNIufnu6kSi0U0fGVnCA7geup1U7JlFR6Q2Nn1vOikL6C3l3ISjSvJi64oo8x4L9bUoRDZppgQu4DOeZYGMasZfUimxVlum6L6U9LYHiyNgKDtD9wPW0an+wqNLP39D4ueWWuhrnC3l3w0OR5j2IV/naq+5ePtnfphTRoJkWuIBROM8EW/2oEXtJ7YjoVmV2P91Xnq6vXD4gjzVhzdcShXGYBGqL/OjaVYLg4e8pqa2tb7t2DQIAAA==') format('woff2'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e643";
}

.icon-zuojiantou_huaban:before {
  content: "\e63b";
}

