.index_container {
    background: #fff;
    .title_box {
        height: 395px;
        .t_img {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
    .top_f_box {
        padding: 60px 150px 0;
        box-sizing: border-box;
        .item_f_box {
            .title {
                height: 40px;
                line-height: 40px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
                margin-bottom: 36px;
            }
            .cont {
                margin-bottom: 85px;
                display: flex;
                justify-content: space-between;
                .trem_box {
                    flex: 1;
                    position: relative;
                    .img_bg {
                        height: 160px;
                        width: 100%;
                        display: block;
                    }
                    .inside_box {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        padding: 44px 42px 0;
                        box-sizing: border-box;
                        .samll_img {
                            height: 56px;
                            width: 66px;
                            margin-right: 15px;
                        }
                        .txt_box {
                            flex: 1;
                            overflow: hidden;
                            .f_txt {
                                height: 29px;
                                line-height: 29px;
                                font-size:21px;
                                font-family:PingFangSC-Medium,PingFang SC;
                                font-weight:500;
                                color:rgba(248,222,255,1);
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .s_txt {
                                line-height: 22px;
                                margin-top: 10px;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp:2;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size:14px;
                                font-family:PingFangSC-Regular,PingFang SC;
                                font-weight:400;
                                color:rgba(176,143,185,1);
                            }
                        }
                    }
                }
                .trem_box:nth-child(2) {
                    margin: 0 30px;
                }
            }
        }
        .item_s_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 36px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
            }
            .cont {
                margin-bottom: 85px;
                display: flex;
                justify-content: space-between;
                .trem_box {
                    flex: 1;
                    margin-right: 30px;
                    box-sizing: border-box;
                    padding: 10px;
                    background: #D4D4D4;
                    overflow: hidden;
                    .order_img {
                        width: 100%;
                        height: 150px;
                        display: block;
                        margin-bottom: 14px;
                        background: #fff;
                    }
                    .f_txt {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                        height: 25px;
                        line-height: 25px;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:rgba(137,79,160,1);
                        margin-bottom: 8px;
                    }
                    .s_txt {
                        height: 20px;
                        line-height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                        font-size:14px;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:rgba(117,79,137,1);
                    }
                }
                .trem_box:last-child {
                    margin: 0;
                }
            }
        }
        .item_t_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 36px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
            }
            .cont {
                display: flex;
                margin-bottom: 90px;
                .trem_box {
                    flex: 1;
                    overflow: hidden;
                    margin-right: 30px;
                    padding: 30px 24px;
                    box-sizing: border-box;
                    background: #4D3662;
                    box-shadow:0px 2px 19px 0px rgba(169,150,178,1);
                    .f_txt {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 100%;
                        height: 25px;
                        line-height: 25px;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:rgba(255,255,255,1);
                        margin-bottom: 8px;
                    }
                    .s_txt {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 100%;
                        height: 20px;
                        line-height: 20px;
                        font-size:14px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:400;
                        color:rgba(255,255,255,1);
                    }
                }
                .trem_box:last-child {
                    margin: 0;
                }
            }
        }
    }
    .main_f_box {
        .item_f_box {
            position: relative;
            .main_f_img {
                height: 312px;
                width: 100%;
                display: block;
            }
            .main_f_txtbox {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(8,6,4,0.47);
                padding: 0 150px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                .trem_box {
                    flex: 1;
                    .f_txt {
                        height: 22px;
                        line-height: 22px;
                        margin-bottom: 20px;
                        font-size:16px;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:rgba(255,255,255,1);
                        text-align: center;
                    }
                    .s_txt {
                        height: 58px;
                        line-height: 58px;
                        font-size:48px;
                        font-family:DIN-Medium,DIN;
                        font-weight:500;
                        color:rgba(255,255,255,1);
                        line-height:58px;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                    .t_txt {
                        height: 22px;
                        line-height: 22px;
                        margin-bottom: 20px;
                        font-size:16px;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:rgba(255,255,255,1);
                        text-align: center;
                    }
                }
            }
        }
        .main_s_box {
            margin: 85px 0;
            padding: 0 150px 0 0;
            box-sizing: border-box;
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 42px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
                padding-left: 150px;
            }
            .cont {
                display: flex;
                .l_box {
                    width: 412px;
                    height: 299px;
                    margin-right: 30px;
                    .l_img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
                .r_box {
                    flex: 1;
                    display: flex;
                    .trem_box {
                        flex: 1;
                        .title_txt {
                            height: 25px;
                            line-height: 25px;
                            margin-bottom: 16px;
                            font-size:18px;
                            font-family:PingFangSC-Medium,PingFang SC;
                            font-weight:500;
                            color:rgba(77,47,93,1);
                        }
                        .txt {
                            height: 42px;
                            line-height: 42px;
                            text-align: center;
                            background: #4D3662;
                            margin-bottom: 12px;
                            font-size:14px;
                            font-family:PingFangSC-Regular,PingFang SC;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                        }
                        .txt.active {
                            background: #754F89;
                        }
                    }
                    .trem_box:nth-child(2) {
                        margin: 0 30px;
                    }
                }
            }
        }
        .main_t_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 43px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,54,98,1);
                padding-left: 150px;
            }
            .cont {
                display: flex;
                padding: 0 150px;
                box-sizing: border-box;
                margin-bottom: 85px;
                .trem_box {
                    flex: 1;
                    overflow: hidden;
                    margin-right: 30px;
                    box-shadow:0px 2px 14px 0px rgba(169,150,178,1);
                    border:1px solid rgba(117,79,137,1);
                    .top_img_p {
                        width: 100%;
                        height: 230px;
                        display: block;
                    }
                    .js_txt {
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size:14px;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:rgba(227,222,229,1);
                        background: #754F89;
                    }
                }
                .trem_box:last-child {
                    margin: 0;
                }
            }
        }
        .main_ff_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 37px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
                padding-left: 150px;
            }
            .cont {
                padding: 0 150px;
                box-sizing: border-box;
                margin-bottom: 85px;
                display: flex;
                .trem_box {
                    flex: 1;
                    margin-right: 32px;
                    box-shadow:0px 2px 14px 0px rgba(201,194,208,1);
                    overflow: hidden;
                    .img_product {
                        width: 100%;
                        height: 159px;
                        display: block;
                    }
                    .txt {
                        height: 53px;
                        line-height: 53px;
                        text-align: center;
                        background: #D4D4D4;
                        font-size:14px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:rgba(77,54,98,1);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .trem_box:last-child {
                    margin-right: 0;
                }
                .trem_box:first-child {
                    .txt {
                        color: #894FA0;
                    }
                }
            }
        }
        .main_fs_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 48px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,54,98,1);
                padding-left: 150px;
            }
            .cont {
                padding: 0 150px;
                box-sizing: border-box;
                display: flex;
                .txt_box {
                    flex: 1;
                    .tit_box {
                        border-bottom: 1px solid #533D12;
                        margin-bottom: 9px;
                        .t_txt {
                            padding-bottom: 10px;
                            height: 25px;
                            line-height: 25px;
                            font-size:18px;
                            font-family:PingFangSC-Medium,PingFang SC;
                            font-weight:500;
                            color:rgba(77,54,98,1);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                        }
                    }
                    .c_box {
                        height: 100%;
                        margin-bottom: 105px;
                        .js_f_txt {
                            font-size:14px;
                            font-family:PingFangSC-Regular,PingFang SC;
                            font-weight:400;
                            color:rgba(77,47,93,1);
                            margin-bottom: 40px;
                        }
                        .js_s_txt {
                            font-size:14px;
                            font-family:PingFangSC-Regular,PingFang SC;
                            font-weight:400;
                            color:rgba(77,47,93,1);
                        }
                    }
                }
                .txt_box:first-child {
                    margin-right: 40px;
                }
            }
        }
    }
    .register_box {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        .mask_bg {
            width: 100%;
            height: 100%;
            background:rgba(0,0,0,0.5);
        }
        .cont_box {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            padding: 30px 37px 38px;
            box-sizing: border-box;
            width: 647px;
            .title_box {
                height: auto;
                .txt {
                    height: 33px;
                    line-height: 33px;
                    text-align: center;
                    font-size:24px;
                    font-family:PingFangSC-Semibold,PingFang SC;
                    font-weight:600;
                    color:#4D3662;
                }
                margin-bottom: 14px;
                .del_btn {
                    padding: 10px;
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    img {
                        height: 24px;
                        width: 24px;
                        display: block;
                    }
                }
            }
            .phone_box {
                height: 66px;
                display: flex;
                border-bottom: 1px solid #C9C2D0;
                align-items: center;
                .h_txt {
                    height: 25px;
                    line-height: 25px;
                    font-size:18px;
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:#C9C2D0;
                }
                .line {
                    margin: 0 15px;
                    height: 22px;
                    width: 1px;
                    background: #C9C2D0;
                }
                .input_txt {
                    flex: 1;
                    height: 25px;
                    line-height: 25px;
                    border: none;
                    outline: none;
                    font-size:18px;
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:#C9C2D0;
                }
                .input_txt::-webkit-input-placeholder {
                    color:#C9C2D0;
                }
                .input_txt::-moz-placeholder { 
                    color:#C9C2D0;
                }
                .input_txt:-ms-input-placeholder {
                    color:#C9C2D0;
                }
                .input_txt:-moz-placeholder {
                    color:#C9C2D0;
                }
            }
            .item_box {
                display: flex;
                height: 66px;
                border-bottom: 1px solid #DDD8CF;
                align-items: center;
                .input_txt {
                    height: 25px;
                    line-height: 25px;
                    border: none;
                    outline: none;
                    font-size:18px;
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:#C9C2D0;
                    flex: 1;
                }
                .input_txt::-webkit-input-placeholder {
                    color:#C9C2D0;
                }
                .input_txt::-moz-placeholder { 
                    color:#C9C2D0;
                }
                .input_txt:-ms-input-placeholder {
                    color:#C9C2D0;
                }
                .input_txt:-moz-placeholder {
                    color:#C9C2D0;
                }
                button {
                    height: 25px;
                    font-size:18px;
                    font-family:PingFangSC-Medium,PingFang SC;
                    font-weight:500;
                    color:#894FA0;
                    line-height:25px;
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }
            .submit_btn {
                margin: 41px auto 37px;
                background: #4D3662;
                width: 384px;
                height: 50px;
                text-align: center;
                font-size:18px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(255,255,255,1);
                line-height: 50px;
            }
        }
    }
    .login_box {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        .mask_bg {
            width: 100%;
            height: 100%;
            background:rgba(0,0,0,0.5);
        }
        .cont_box {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            padding: 30px 37px 38px;
            box-sizing: border-box;
            width: 647px;
            .title_box {
                height: 42px;
                display: flex;
                .item_box {
                    position: relative;
                    margin-right: 50px;
                    .txt {
                        height: 42px;
                        font-size:21px;
                        font-family:PingFangSC-Semibold,PingFang SC;
                        font-weight:400;
                        color:#4D3662;
                        line-height:29px;
                    }
                    .txt.active {
                        color: #4D3662;
                        font-weight:600;
                    }
                    .line {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        background: #4D3662;
                    }
                }
                .del_btn {
                    padding: 10px;
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    img {
                        height: 24px;
                        width: 24px;
                        display: block;
                    }
                }
            }
            .c_box {
                .c_trem_box {
                    height: 50px;
                    margin-top: 16px;
                    border-bottom: 1px solid #C9C2D0;
                    display: flex;
                    align-items: center;
                    .input_txt {
                        height: 25px;
                        line-height: 25px;
                        border: none;
                        outline: none;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:#C9C2D0;
                        flex: 1;
                    }
                    .input_txt::-webkit-input-placeholder {
                        color:#C9C2D0;
                    }
                    .input_txt::-moz-placeholder { 
                        color:#C9C2D0;
                    }
                    .input_txt:-ms-input-placeholder {
                        color:#C9C2D0;
                    }
                    .input_txt:-moz-placeholder {
                        color:#C9C2D0;
                    }
                }
                .phone_box {
                    height: 66px;
                    display: flex;
                    border-bottom: 1px solid #C9C2D0;
                    padding-top: 28px;
                    box-sizing: border-box;
                    .h_txt {
                        height: 25px;
                        line-height: 25px;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:#C9C2D0;
                    }
                    .line {
                        margin: 0 15px;
                        height: 22px;
                        width: 1px;
                        background: #C9C2D0;
                    }
                    .input_txt {
                        flex: 1;
                        height: 25px;
                        line-height: 25px;
                        border: none;
                        outline: none;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:#C9C2D0;
                    }
                    .input_txt::-webkit-input-placeholder {
                        color:#C9C2D0;
                    }
                    .input_txt::-moz-placeholder { 
                        color:#C9C2D0;
                    }
                    .input_txt:-ms-input-placeholder {
                        color:#C9C2D0;
                    }
                    .input_txt:-moz-placeholder {
                        color:#C9C2D0;
                    }
                }
                .item_box {
                    display: flex;
                    height: 66px;
                    border-bottom: 1px solid #DDD8CF;
                    align-items: center;
                    .input_txt {
                        height: 25px;
                        line-height: 25px;
                        border: none;
                        outline: none;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:#C9C2D0;
                        flex: 1;
                    }
                    .input_txt::-webkit-input-placeholder {
                        color:#C9C2D0;
                    }
                    .input_txt::-moz-placeholder { 
                        color:#C9C2D0;
                    }
                    .input_txt:-ms-input-placeholder {
                        color:#C9C2D0;
                    }
                    .input_txt:-moz-placeholder {
                        color:#C9C2D0;
                    }
                    button {
                        height: 25px;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:#894FA0;
                        line-height:25px;
                        background: transparent;
                        border: none;
                        outline: none;
                    }
                }
                .other_item {
                    display: flex;
                    margin: 15px 0 51px;
                    .txt {
                        height:25px;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:rgba(77,54,98,1);
                        line-height:25px;
                    }
                    .wx_box {
                        margin-left: 28px;
                        flex: 1;
                        height: 25px;
                        display: flex;
                        img {
                            width: 25px;
                            height: 25px;
                            margin-right: 5px;
                        }
                        div {
                            height:25px;
                            font-size:18px;
                            font-family:PingFangSC-Medium,PingFang SC;
                            font-weight:400;
                            color:rgba(129,129,135,1);
                            line-height:25px;
                        }
                    }
                }
            }
            .submit_btn {
                margin: 88px auto 0;
                width: 384px;
                height: 50px;
                background: #4D3662;
                text-align: center;
                font-size:18px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(255,255,255,1);
                line-height: 50px;
            }
        }
    }
}