.index_container {
    background: #fff;
    .title_box {
        height: 395px;
        .t_img {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
    .top_f_box {
        padding: 60px 150px 0;
        box-sizing: border-box;
        .item_f_box {
            .title {
                height: 40px;
                line-height: 40px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
                margin-bottom: 36px;
            }
            .cont {
                margin-bottom: 85px;
                display: flex;
                justify-content: space-between;
                .trem_box {
                    flex: 1;
                    position: relative;
                    .img_bg {
                        height: 160px;
                        width: 100%;
                        display: block;
                    }
                    .inside_box {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        padding: 44px 42px 0;
                        box-sizing: border-box;
                        .samll_img {
                            height: 56px;
                            width: 66px;
                            margin-right: 15px;
                        }
                        .txt_box {
                            flex: 1;
                            overflow: hidden;
                            .f_txt {
                                height: 29px;
                                line-height: 29px;
                                font-size:21px;
                                font-family:PingFangSC-Medium,PingFang SC;
                                font-weight:500;
                                color:rgba(248,222,255,1);
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .s_txt {
                                line-height: 22px;
                                margin-top: 10px;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp:2;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size:14px;
                                font-family:PingFangSC-Regular,PingFang SC;
                                font-weight:400;
                                color:rgba(176,143,185,1);
                            }
                        }
                    }
                }
                .trem_box:nth-child(2) {
                    margin: 0 30px;
                }
            }
        }
        .item_s_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 36px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
            }
            .cont {
                margin-bottom: 85px;
                display: flex;
                justify-content: space-between;
                .trem_box {
                    flex: 1;
                    margin-right: 30px;
                    box-sizing: border-box;
                    padding: 10px;
                    background: #D4D4D4;
                    overflow: hidden;
                    .order_img {
                        width: 100%;
                        height: 150px;
                        display: block;
                        margin-bottom: 14px;
                        background: #fff;
                    }
                    .f_txt {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                        height: 25px;
                        line-height: 25px;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:rgba(137,79,160,1);
                        margin-bottom: 8px;
                    }
                    .s_txt {
                        height: 20px;
                        line-height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                        font-size:14px;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:rgba(117,79,137,1);
                    }
                }
                .movelatelyActive {
                    box-shadow:0px 2px 14px 0px rgba(201,194,208,1);
                }
                .trem_box:last-child {
                    margin: 0;
                }
            }
        }
        .item_t_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 36px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
            }
            .cont {
                display: flex;
                margin-bottom: 90px;
                .trem_box {
                    flex: 1;
                    overflow: hidden;
                    margin-right: 30px;
                    padding: 30px 24px;
                    box-sizing: border-box;
                    background: #4D3662;
                    .f_txt {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 100%;
                        height: 25px;
                        line-height: 25px;
                        font-size:18px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:rgba(255,255,255,1);
                        margin-bottom: 8px;
                    }
                    .s_txt {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 100%;
                        height: 20px;
                        line-height: 20px;
                        font-size:14px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:400;
                        color:rgba(255,255,255,1);
                    }
                }
                .moveplayerActive {
                    box-shadow:0px 2px 19px 0px rgba(169,150,178,1);
                }
                .trem_box:last-child {
                    margin: 0;
                }
            }
        }
    }
    .main_f_box {
        .item_f_box {
            position: relative;
            .main_f_img {
                height: 312px;
                width: 100%;
                display: block;
            }
            .main_f_txtbox {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(8,6,4,0.47);
                padding: 0 150px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                .trem_box {
                    flex: 1;
                    .f_txt {
                        height: 22px;
                        line-height: 22px;
                        margin-bottom: 20px;
                        font-size:16px;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:rgba(255,255,255,1);
                        text-align: center;
                    }
                    .s_txt {
                        height: 58px;
                        line-height: 58px;
                        font-size:48px;
                        font-family:DIN-Medium,DIN;
                        font-weight:500;
                        color:rgba(255,255,255,1);
                        line-height:58px;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                    .t_txt {
                        height: 22px;
                        line-height: 22px;
                        margin-bottom: 20px;
                        font-size:16px;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:rgba(255,255,255,1);
                        text-align: center;
                    }
                }
            }
        }
        .main_s_box {
            margin: 85px 0;
            padding: 0 150px;
            box-sizing: border-box;
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 42px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
                padding-left: 150px;
            }
            .cont {
                display: flex;
                .l_box {
                    width: 412px;
                    height: 299px;
                    margin-right: 30px;
                    .l_img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
                .r_box {
                    flex: 1;
                    display: flex;
                    .trem_box {
                        padding-top: 15px;
                        flex: 1;
                        .title_txt {
                            height: 25px;
                            line-height: 25px;
                            margin-bottom: 30px;
                            font-size:18px;
                            font-family:PingFangSC-Medium,PingFang SC;
                            font-weight:500;
                            color:#4D2F5D;
                        }
                        .title_txt:nth-child(2) {
                            margin-top: 3px;
                        }
                        .txt {
                            height: 42px;
                            line-height: 42px;
                            text-align: center;
                            background: #4D3662;
                            margin-bottom: 16px;
                            font-size:14px;
                            font-family:PingFangSC-Regular,PingFang SC;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                        }
                        .txt.active {
                            background: #754F89;
                        }
                    }
                    .trem_box:nth-child(2) {
                        margin: 0 30px;
                    }
                }
            }
        }
        .main_t_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 43px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,54,98,1);
                padding-left: 150px;
            }
            .cont {
                display: flex;
                padding: 0 150px;
                box-sizing: border-box;
                margin-bottom: 85px;
                .trem_box {
                    flex: 1;
                    overflow: hidden;
                    margin-right: 30px;
                    border:1px solid rgba(117,79,137,1);
                    .top_img_p {
                        width: 100%;
                        height: 230px;
                        display: block;
                    }
                    .js_txt {
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size:14px;
                        font-family:PingFangSC-Regular,PingFang SC;
                        font-weight:400;
                        color:rgba(227,222,229,1);
                        background: #754F89;
                    }
                }
                .moveholtActive {
                    box-shadow:0px 2px 14px 0px rgba(169,150,178,1);
                }
                .trem_box:last-child {
                    margin: 0;
                }
            }
        }
        .main_ff_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 37px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
                padding-left: 150px;
            }
            .cont {
                padding: 0 150px;
                box-sizing: border-box;
                margin-bottom: 85px;
                display: flex;
                .trem_box {
                    flex: 1;
                    margin-right: 32px;
                    overflow: hidden;
                    .img_product {
                        width: 100%;
                        height: 159px;
                        display: block;
                    }
                    .txt {
                        height: 53px;
                        line-height: 53px;
                        text-align: center;
                        background: #D4D4D4;
                        font-size:14px;
                        font-family:PingFangSC-Medium,PingFang SC;
                        font-weight:500;
                        color:rgba(77,54,98,1);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .moveholtProActive {
                    box-shadow:0px 2px 14px 0px rgba(201,194,208,1);
                }
                .trem_box:last-child {
                    margin-right: 0;
                }
                .trem_box:first-child {
                    .txt {
                        color: #894FA0;
                    }
                }
            }
        }
        .main_fs_box {
            .title {
                height: 40px;
                line-height: 40px;
                margin-bottom: 48px;
                font-size:28px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,54,98,1);
                padding-left: 150px;
            }
            .cont {
                padding: 0 150px;
                box-sizing: border-box;
                display: flex;
                .txt_box {
                    flex: 1;
                    .tit_box {
                        border-bottom: 1px solid #533D12;
                        margin-bottom: 9px;
                        .t_txt {
                            padding-bottom: 10px;
                            height: 25px;
                            line-height: 25px;
                            font-size:18px;
                            font-family:PingFangSC-Medium,PingFang SC;
                            font-weight:500;
                            color:rgba(77,54,98,1);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100%;
                        }
                    }
                    .c_box {
                        height: 100%;
                        margin-bottom: 105px;
                        .js_f_txt {
                            font-size:14px;
                            font-family:PingFangSC-Regular,PingFang SC;
                            font-weight:400;
                            color:rgba(77,47,93,1);
                            margin-bottom: 40px;
                        }
                        .js_s_txt {
                            font-size:14px;
                            font-family:PingFangSC-Regular,PingFang SC;
                            font-weight:400;
                            color:rgba(77,47,93,1);
                        }
                    }
                }
                .txt_box:first-child {
                    margin-right: 40px;
                }
            }
        }
    }
    
    
}