.lawMessagePage_box {
    .main_box {
        padding:60px 150px 60px;
        box-sizing: border-box;
        .item_box {
            .c_txt {
                font-size:14px;
                font-family:PingFangSC-Regular,PingFang SC;
                font-weight:400;
                color:rgba(77,54,98,1);
                line-height:24px;
            }
        }
    }
}