.privacyPage_box {
    .main_box {
        padding:0 150px 60px;
        box-sizing: border-box;
        .item_box {
            .title {
                font-size:21px;
                font-family:PingFangSC-Medium,PingFang SC;
                font-weight:500;
                color:rgba(77,47,93,1);
                line-height: 30px;
                height: 30px;
                margin: 60px 0 30px;
            }
            .c_txt {
                font-size:14px;
                font-family:PingFangSC-Regular,PingFang SC;
                font-weight:400;
                color:rgba(77,54,98,1);
                line-height:24px;
            }
        }
    }
}