.productPageInfo_container {
    .main_box {
        padding: 0 15%;
        box-sizing: border-box;


        $marginTop: 55px;

        .intro-box {
            margin: $marginTop 0;
        }

        .best-common-box {
            .img-box {
                margin-top: 25px;

                img {
                    width: 100%;
                }
            }
        }

        .detail-img-box {
            line-height: 0;
            box-sizing: border-box;
            height: 330px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }

        .sec_product_box {
            .cont_box {
                display: flex;
                margin-bottom: 45px;

                .trem_box {
                    background: #D4D4D4;
                    overflow: hidden;
                    margin-right: 30px;
                    flex: 1;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0px 2px 14px 0px #C9C2D0;

                        .b_txt {
                            color: #894FA0;
                        }
                    }

                    .b-img {
                        background-color: #ffffff;
                        line-height: 0;
                        padding: 15px;
                        box-sizing: border-box;
                        height: 200px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: scale-down;
                        }
                    }

                    .b_txt {
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 10px;
                        box-sizing: border-box;
                        @extend .articeText;
                    }
                }

                .trem_box:last-child {
                    margin-right: 0;
                }
            }
        }

        .devicon_cont_txdt {
            padding: 0 150px;
            box-sizing: border-box;
        }
    }
}